.DropDownLabelStyle {
    font-family: "Segoe UI Web (West European)",Segoe UI,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 14px;
    margin-top:5px;
    margin-bottom: 5px;
}